# node_modules ，直接 npm install 即可自动下载，不需要上传
chapter10/demo/node_modules
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter10/demo/dist
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter10/demo/index_prod.html