# node_modules ，直接 npm install 即可自动下载，不需要上传
chapter10/demo/node_modules
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter10/demo/dist
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter10/demo/index_prod.html
# node_modules ，直接 npm install 即可自动下载，不需要上传
chapter11/router/node_modules
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter11/router/dist
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter11/router/index_prod.html
# node_modules ，直接 npm install 即可自动下载，不需要上传
chapter11/vuex/node_modules
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter11/vuex/dist
# 开发：npm run dev 或 生产：npm run build 根据配置 自动生成的文件
chapter11/vuex/index_prod.html