<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>vue的一个简单的示例</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="firstName" placeholder="您的姓" />
      <input type="text" v-model="lastName" placeholder="您的名" />
      <input type="text" v-model="fullName" placeholder="您的姓名" />
      <h1>Hello World!{{ fullName }}</h1>
      <h2>{{now()|formatDate}}</h2>
      <br />

      <span v-if="show">
        {{ date | formatDate }}
      </span>
      <button v-on:click="toogleTimer">
        {{ show ? "隐藏时间" : "显示计时" }}
      </button>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
      /*
            type:function
            desc:在月份、日期、小时等小于10 时前面补0
            */
      var padDate = function(value) {
        return value < 10 ? "0" + value : value;
      };
      //
      var app = new Vue({
        el: "#app",
        data: {
          firstName: "L",
          lastName: "fc",
          date: new Date(),
          show: true
        },
        filters: {
          //过滤器
          formatDate: function(value) {
            var date = new Date(value);
            //
            var year = padDate(date.getFullYear());
            var month = padDate(date.getMonth() + 1);
            var day = padDate(date.getDate());
            var hour = padDate(date.getHours());
            var minutes = padDate(date.getMinutes());
            var second = padDate(date.getSeconds());
            //
            return (
              year +
              "-" +
              month +
              "-" +
              day +
              " " +
              hour +
              ":" +
              minutes +
              ":" +
              second
            );
          }
        },
        methods: {
          //
          toogleTimer: function() {
            this.show = !this.show;
          },
          now:function(){
            return new Date();
          }
        },
        computed: {
          fullName: {
            get: function() {
              return this.firstName + " " + this.lastName;
            },
            set: function(v) {
              var names = newValue.split(" ");
              this.firstName = names[O];
              this.lastName = names[names.length - l];
            }
          },
          now:function(){
            return new Date();
          }
        },
        created: function() {
          /*
                      实例创建完成后调用，此阶段完成了数据的观测等，但尚未挂载， $el 还不可用。需要初始化处理一些数据时会比较有用
                      */
          //Vue 实例本身this/app也代理了 data 对象里的所有属性
          console.log("app.a:" + this.name);
        },
        mounted: function() {
          //el 挂载到实例上后调用，一般我们的第一个业务逻辑会在这里开始
          console.log(this.$el);
          var _this = this;
          this.timer = setInterval(function() {
            _this.date = new Date();
          });
        },
        befornDestroy: function() {
          if (this.timer) {
            clearInterval(this.timer);
          }
        }
      });
    </script>
  </body>
</html>
